### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*.sublime-project
*.sublime-workspace

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Webpack
webpack-stats.json
dist/

# Pycharm
.idea/*

# Vim
*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
*/media/

# Collected staticfiles
*/staticfiles/

.cache/
