# NOTICE:
# Vue app will only detect VUE_APP_* envs

# Django
DEBUG=True
SECRET_KEY=CHANGEME!!!

DOMAIN=http://localhost:8000
ALLOWED_HOSTS=*

# Email settings, defaults to 1025 and mailhog
#EMAIL_PORT=25
#EMAIL_HOST=localhost

# PostgreSQL
POSTGRES_DB={{cookiecutter.project_slug}}
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

{% if cookiecutter.use_sentry == 'y' -%}
# Sentry
SENTRY_DSN=
SENTRY_PUBLIC_DSN=
VUE_APP_SENTRY_PUBLIC_DSN=
{% endif %}

{% if cookiecutter.analytics == 'Google Analytics' -%}
# Google Analytics
VUE_APP_GOOGLE_ANALYTICS=UA-XXXXXXXXX-X
{% endif %}

{% if cookiecutter.analytics == 'Yandex Metrika' -%}
# Yandex Metrika
VUE_APP_YANDEX_METRIKA=
{% endif %}
