# Django
DEBUG=True  # change for production
SECRET_KEY=CHANGEME!!!

DOMAIN=http://localhost:8000  # change for production
ALLOWED_HOSTS=*  # change for production

EMAIL_PORT=1025  # change for production
EMAIL_HOST=mailhog  # change for production

# PostgreSQL
POSTGRES_DB={{cookiecutter.project_slug}}
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

{% if cookiecutter.use_sentry == 'y' -%}
# Sentry
SENTRY_DSN=
SENTRY_PUBLIC_DSN=
{% endif %}

{% if cookiecutter.analytics == 'Google Analytics' -%}
# Google Analytics
GOOGLE_ANALYTICS=UA-XXXXXXXXX-X
{% endif %}

{% if cookiecutter.analytics == 'Yandex Metrika' -%}
# Yandex Metrika
YANDEX_METRIKA=
{% endif %}
