# General settings
#DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_DOMAIN={{cookiecutter.domain_name}}
DJANGO_ALLOWED_HOSTS=.{{ cookiecutter.domain_name }}
DJANGO_SECRET_KEY=CHANGEME!!!

# PostgreSQL
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=mysecretpass

{% if cookiecutter.use_travis == 'y' -%}
# Travis deploy
PRODUCTION_USER=root
PRODUCTION_PASSWORD={% endif %}

# Amazon S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME={{cookiecutter.project_slug}}
AWS_STORAGE_BUCKET_REGION=

# Used with email
DJANGO_MAILGUN_API_PUB=
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=info@{{cookiecutter.domain_name}}
MAILGUN_SENDER_DOMAIN=mg.{{cookiecutter.domain_name}}

{% if cookiecutter.use_sentry == 'y' -%}
# Sentry
DJANGO_SENTRY_DSN={% endif %}

{% if cookiecutter.use_yandex_metrika == 'y' -%}
# YandexMetrika
YANDEX_METRIKA={% endif %}
