# OSX
.DS_Store
.AppleDouble
.LSOverride

# ## Editors ##
# SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*.sublime-project
*.sublime-workspace

# Pycharm
.idea/*

# Vim
*~
*.swp
*.swo

# VScode
.vscode

# ## NodeJS & Webpack ##
# npm
node_modules/

# Webpack
webpack-stats.json
dist/

# Webpack tracker
webpack.json

# ## Python ##
# Basics
*.py[cod]
__pycache__

# virtual environments
.env
venv

# Pyenv
.python-version

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# ## Django ##
# Translations
*.mo
*.pot

# User-uploaded media
*/media/
*/staticfiles/

# ## Other things
# sftp configuration file
sftp-config.json

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Compass
.sass-cache

# Cache
.cache/