[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter = "==1.6.0"
pytest = "==3.3.0"
pytest-cookies = "==0.3.0"

[dev-packages]

[requires]
python_version = "3.6"
