*.{{cookiecutter.domain}} {
    redir https://{{cookiecutter.domain}}
}

{{cookiecutter.domain}} {
    proxy / django:5000 {
        transparent
    }
    limits 200mb
    log stdout
    errors stdout
    gzip
}
