autopep8==1.5.1
attrs==19.3.0
backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
Django==3.0.5
django-environ==0.4.5
django-extensions==2.2.9
django-redis==4.11.0
flake8==3.7.9
flake8-commas==2.0.0
flake8-mypy==17.8.0
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
mccabe==0.6.1
mypy==0.770
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pytz==2019.3
redis==3.4.1
requests==2.23.0
rope==0.16.0
simplegeneric==0.8.1
six==1.14.0
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.1
{% if cookiecutter.use_sentry == 'y' %}raven==6.9.0{% endif %}
{% if cookiecutter.api == 'REST' %}
djangorestframework==3.11.0
{% elif cookiecutter.api == 'GraphQL' %}
django-graphql-jwt==0.3.1
graphene==2.1.8
graphene-django==2.9.0
{% endif %}


