{% if cookiecutter.domain.split('.') | length == 2 -%}www.{{cookiecutter.domain}} {
    redir https://{{cookiecutter.domain}}
}
{% endif -%}
{{cookiecutter.domain}} {
    proxy / django:5000 {
        transparent
    }
    log stdout
    errors stdout
    gzip
}
