<!DOCTYPE html>
{% raw %}{% load static %}{% endraw %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{cookiecutter.project_name}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#424770">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{cookiecutter.project_name}}">
        <meta property="og:site_name" content="{{cookiecutter.project_name}}">
        <meta property="og:url" content="https://{{cookiecutter.domain}}">
        <meta property="og:description" content="{{cookiecutter.description}}">
        <meta name="description" content="{{cookiecutter.description}}">

        {% raw -%}
        <!-- favicons for all devices. recommended generator: https://realfavicongenerator.net/ -->
        <meta property="og:image" content="{% static 'images/favicons/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicons/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        {% endraw -%}

        <meta name="apple-mobile-web-app-title" content="{{cookiecutter.project_name}}">
        <meta name="application-name" content="{{cookiecutter.project_name}}">
        {% if cookiecutter.use_vue_material == 'y' %}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>

    <body style="margin: 0">
        <div id="main"></div>
    </body>

    {% if cookiecutter.analytics == 'Google Analytics' -%}{% raw %}{% if google_analytics %}<script>var analytics = "{{ google_analytics }}"</script>{% endif %}{% endraw %}{% endif %}
    {% if cookiecutter.analytics == 'Yandex Metrika' -%}{% raw %}<script>var metrika = {{ yandex_metrika }}</script>{% endraw %}{% endif %}
    {% if cookiecutter.use_sentry == 'y' %}{% raw %}<script>var RAVEN_DSN = "{{ raven_dsn }}"</script>{% endraw %}{% endif %}
    {% raw %}<script type="text/javascript">var DEBUG = {{ DEBUG | lower }}</script>{% endraw %}
    <script src="{% if cookiecutter.static_and_media == 'Amazon S3 (static and media)' -%}{% raw %}{% if DEBUG %}http://localhost:3000{% static 'dist/build.js' %}{% else %}{% static 'dist/build.js.gz' %}{% endif %}{% endraw %}{% else %}{% raw %}{% if DEBUG %}http://localhost:3000{% endif %}{% static 'dist/build.js' %}{% endraw %}{% endif %}" async></script>
    {% if cookiecutter.use_ckeditor == "y" -%}<script src="https://cdn.ckeditor.com/4.7.3/basic/ckeditor.js" async></script>{% endif %}
</html>
